.moviecard {
    margin-bottom: 25px;
}

.moviecard p {
    text-align: center;
    width: 200px;
    padding-top: 8px;
}

.moviecard .img {
    height: 250px;
    width: 200px;
}

img {
    height: 100%;
    width: 100%;
}